PHP的日期检查类 | IMJCW

http://jcwblog.com/articles/backend/php-own-checkdate.html
    <h1>PHP的日期检查类</h1>
    <h2>前言</h2>
<p>还是在看项目的源码，其实这个是和上篇 《PHP自带的观察者模式接口》是一起看到的。</p>
<h2>回顾</h2>
<p>还记得在廿一客最后的一段日子里，开发了用户中心的纪念日模块，当时为了加强参数的校验，对用户纪念日也进行了相关校验。</p>
<p>当时处理起来还是蛮麻烦的，大致的思路就是拆分成年月日校验是否是数字。</p>
<p>看了项目中的全局函数部分的时候，突然发现，自己还是知道的太少了。</p>
<h2>checkdate</h2>
<p><code class="inline">PHP</code> 提供了 <code class="inline">checkdate</code> 方法给我们做日期检查。</p>
<pre class=" language-c"><code class="++ language-c">bool checkdate ( int $month , int $day , int $year )
</code></pre>
<p>使用很简单，如下(例子来源于文档)：</p>
<pre class=" language-php"><code class=" language-php"><span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">checkdate</span><span class="token punctuation">(</span><span class="token number">12</span><span class="token punctuation">,</span> <span class="token number">31</span><span class="token punctuation">,</span> <span class="token number">2000</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># bool(true)</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">checkdate</span><span class="token punctuation">(</span><span class="token number">2</span><span class="token punctuation">,</span> <span class="token number">29</span><span class="token punctuation">,</span> <span class="token number">2001</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>  <span class="token shell-comment comment"># bool(false)</span>
</code></pre>
<h2>DateTime类</h2>
<p>原以为 <code class="inline">checkdate</code> 已经非常强大了，可以解决我上面的纪念日的问题了。然而，我在浏览文档中的例子之后，发现了一个更加强大的类 <code class="inline">DateTime</code>。</p>
<p>别的不说，可以先看一下人家是怎么实现检查日期功能的：</p>
<pre class=" language-php"><code class=" language-php"><span class="token keyword">function</span> <span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token variable">$date</span><span class="token punctuation">,</span> <span class="token variable">$format</span> <span class="token operator">=</span> <span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span>
<span class="token punctuation">{</span>
    <span class="token variable">$d</span> <span class="token operator">=</span> DateTime<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token function">createFromFormat</span><span class="token punctuation">(</span><span class="token variable">$format</span><span class="token punctuation">,</span> <span class="token variable">$date</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token keyword">return</span> <span class="token variable">$d</span> <span class="token operator">&amp;&amp;</span> <span class="token variable">$d</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token variable">$format</span><span class="token punctuation">)</span> <span class="token operator">==</span> <span class="token variable">$date</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'2012-02-28 12:12:12'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'2012-02-30 12:12:12'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># false</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'2012-02-28'</span><span class="token punctuation">,</span> <span class="token string">'Y-m-d'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'28/02/2012'</span><span class="token punctuation">,</span> <span class="token string">'d/m/Y'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'30/02/2012'</span><span class="token punctuation">,</span> <span class="token string">'d/m/Y'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># false</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'14:50'</span><span class="token punctuation">,</span> <span class="token string">'H:i'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'14:77'</span><span class="token punctuation">,</span> <span class="token string">'H:i'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># false</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token number">14</span><span class="token punctuation">,</span> <span class="token string">'H'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'14'</span><span class="token punctuation">,</span> <span class="token string">'H'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>

<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'2012-02-28T12:12:12+02:00'</span><span class="token punctuation">,</span> <span class="token string">'Y-m-d\TH:i:sP'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token shell-comment comment"># or</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'2012-02-28T12:12:12+02:00'</span><span class="token punctuation">,</span> DateTime<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token constant">ATOM</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>

<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'Tue, 28 Feb 2012 12:12:12 +0200'</span><span class="token punctuation">,</span> <span class="token string">'D, d M Y H:i:s O'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token shell-comment comment"># or</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'Tue, 28 Feb 2012 12:12:12 +0200'</span><span class="token punctuation">,</span> DateTime<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token constant">RSS</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># true</span>
<span class="token function">var_dump</span><span class="token punctuation">(</span><span class="token function">validateDate</span><span class="token punctuation">(</span><span class="token string">'Tue, 27 Feb 2012 12:12:12 +0200'</span><span class="token punctuation">,</span> DateTime<span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token constant">RSS</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token shell-comment comment"># false</span>
<span class="token shell-comment comment"># ...</span>
</code></pre>
<p>很强大！！！支持多种格式的日期时间格式。</p>
<p>当然，不同的函数和类，使用的场景不同，比如我之前的需求，一个 <code class="inline">checkdate</code> 可以满足我的需求了，但如果使用 <code class="inline">DateTime</code> 来做的话，有点杀鸡用牛刀的感觉。</p>
<p>当然，<code class="inline">DateTime</code> 的强大之处不止在这里，先看一下它有那些属性和函数吧。</p>
<pre class=" language-c"><code class="++ language-c">DateTime implements DateTimeInterface {
    /* Inherited constants */
    const string DateTimeInterface::ATOM = "Y-m-d\TH:i:sP" ;
    const string DateTimeInterface::COOKIE = "l, d-M-Y H:i:s T" ;
    const string DateTimeInterface::ISO8601 = "Y-m-d\TH:i:sO" ;
    const string DateTimeInterface::RFC822 = "D, d M y H:i:s O" ;
    const string DateTimeInterface::RFC850 = "l, d-M-y H:i:s T" ;
    const string DateTimeInterface::RFC1036 = "D, d M y H:i:s O" ;
    const string DateTimeInterface::RFC1123 = "D, d M Y H:i:s O" ;
    const string DateTimeInterface::RFC2822 = "D, d M Y H:i:s O" ;
    const string DateTimeInterface::RFC3339 = "Y-m-d\TH:i:sP" ;
    const string DateTimeInterface::RFC3339_EXTENDED = "Y-m-d\TH:i:s.vP" ;
    const string DateTimeInterface::RSS = "D, d M Y H:i:s O" ;
    const string DateTimeInterface::W3C = "Y-m-d\TH:i:sP" ;

    /* Methods */
    public __construct ([ string $time = "now" [, DateTimeZone $timezone = NULL ]] )
    public DateTime add ( DateInterval $interval )
    public static DateTime createFromFormat ( string $format , string $time [, DateTimeZone $timezone ] )
    public static array getLastErrors ( void )
    public DateTime modify ( string $modify )
    public static DateTime __set_state ( array $array )
    public DateTime setDate ( int $year , int $month , int $day )
    public DateTime setISODate ( int $year , int $week [, int $day = 1 ] )
    public DateTime setTime ( int $hour , int $minute [, int $second = 0 [, int $microseconds = 0 ]] )
    public DateTime setTimestamp ( int $unixtimestamp )
    public DateTime setTimezone ( DateTimeZone $timezone )
    public DateTime sub ( DateInterval $interval )
    public DateInterval diff ( DateTimeInterface $datetime2 [, bool $absolute = FALSE ] )
    public string format ( string $format )
    public int getOffset ( void )
    public int getTimestamp ( void )
    public DateTimeZone getTimezone ( void )
    public __wakeup ( void )
}
</code></pre>
<p>一些小的使用，多种格式，总有一款适合你：</p>
<blockquote><p>摘自: <a href="https://blog.csdn.net/everything1209/article/details/53215141" rel="nofollow noopener noreferrer" target="_blank">PHP中的DateTime类</a></p>
</blockquote>
<p><strong>获取当前时间</strong></p>
<pre class=" language-php"><code class=" language-php"><span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
<p><strong>获取特定时间并打印</strong></p>
<pre class=" language-php"><code class=" language-php"><span class="token shell-comment comment"># 指定时间</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'2014-05-04'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token shell-comment comment"># 不一定是时间格式，语义化的也支持一部分</span>
<span class="token variable">$date2</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'tomorrow'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date2</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token shell-comment comment"># 获取两天后的时间</span>
<span class="token variable">$date2</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'+2 days'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date2</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token shell-comment comment"># 一些方法的使用</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token comment" spellcheck="true">// add方法</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">add</span><span class="token punctuation">(</span><span class="token keyword">new</span> <span class="token class-name">DateInterval</span><span class="token punctuation">(</span><span class="token string">'P1D'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token comment" spellcheck="true">// modify方法</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">modify</span><span class="token punctuation">(</span><span class="token string">'+1 day'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token comment" spellcheck="true">// setDate方法</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">setDate</span><span class="token punctuation">(</span><span class="token string">'1989'</span><span class="token punctuation">,</span><span class="token string">'11'</span><span class="token punctuation">,</span><span class="token string">'10'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token comment" spellcheck="true">// setTime方法</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'2001-01-01'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">setTime</span><span class="token punctuation">(</span><span class="token number">14</span><span class="token punctuation">,</span> <span class="token number">55</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">setTime</span><span class="token punctuation">(</span><span class="token number">14</span><span class="token punctuation">,</span> <span class="token number">55</span><span class="token punctuation">,</span> <span class="token number">24</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
<p><strong>unix时间戳的转换</strong></p>
<pre class=" language-php"><code class=" language-php"><span class="token shell-comment comment"># 获取当前时间的时间戳</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'U'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token shell-comment comment"># 或者</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">getTimestamp</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token shell-comment comment"># 将时间戳转换为可读时间</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'@1408950651'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">setTimezone</span><span class="token punctuation">(</span><span class="token keyword">new</span> <span class="token class-name">DateTimeZone</span><span class="token punctuation">(</span><span class="token string">'Asia/Shanghai'</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token shell-comment comment"># 或者</span>
<span class="token variable">$date</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">setTimestamp</span><span class="token punctuation">(</span><span class="token number">1408950651</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">echo</span> <span class="token variable">$date</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
<p><strong>日期的比较</strong></p>
<pre class=" language-php"><code class=" language-php"><span class="token shell-comment comment"># 日期大小比较</span>
<span class="token variable">$date1</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$date2</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'2016-12-15'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token keyword">if</span><span class="token punctuation">(</span><span class="token variable">$date1</span> <span class="token operator">&lt;</span> <span class="token variable">$date2</span><span class="token punctuation">)</span> <span class="token punctuation">{</span>
    <span class="token keyword">echo</span> <span class="token variable">$date2</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">'Y-m-d H:i:s'</span><span class="token punctuation">)</span> <span class="token punctuation">.</span> <span class="token string">' is in the future'</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span>

<span class="token shell-comment comment"># 日期间隔</span>
<span class="token variable">$date1</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$date2</span> <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">DateTime</span><span class="token punctuation">(</span><span class="token string">'2016-12-15'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token variable">$diff</span> <span class="token operator">=</span> <span class="token variable">$date1</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">diff</span><span class="token punctuation">(</span><span class="token variable">$date2</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token shell-comment comment"># 格式化输出</span>
<span class="token keyword">echo</span> <span class="token variable">$diff</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">format</span><span class="token punctuation">(</span><span class="token string">"The future will come in %Y years %m months and %d days"</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
</code></pre>
<p>其中，日期比较是感觉非常实用的，计算日期的神器啊，省去了不少麻烦。</p>
<h2>最后</h2>
<p>又学到了两个方法，突然感觉以后有类似的需求，可以较快不少开发速度。</p>
    <br>
    <p>-- EOF --</p>
    <p class="tags">
            </p>
    <p>发表于 2018-10-29 。 已被累计阅读「5」次。<a href="http://jcwblog.com/articles/md/backend/php-own-checkdate.html">查看 Markdown 版本</a></p>
    <blockquote class="subinfo">
            <p>本文标题：PHP的日期检查类</p>
<p>本文链接：http://jcwblog.com/articles/backend/php-own-checkdate.html</p>
<p>本站使用「 <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" rel="nofollow" target="_blank">署名-非商业性使用 4.0 国际 (CC BY-NC 4.0)</a> 」创作共享协议，转载或使用请署名并注明出处。</p>        </blockquote>
